# Object file
*.o
obj/*
lib/*

# LaTex auxiliary files
doc/*.aux
doc/*.log
doc/*.synctex.gz
doc/*.toc
doc/*.bbl
doc/*.blg

# Ada Library Information
*.ali

# Test binaries
test_shell
test_func
test_integ
test_ode
test_poly
test_poly_cmplx
test_root
test_stats
